/* GLOBAL */
* {
	box-sizing: border-box;
}

html,body{
	height: 100%;
	max-width: 100%;
	font-family: 'Work Sans', sans-serif;
	scroll-behavior: smooth;
	font-size: 1.4vw;
	line-height: 2;
}

/* Consumables */
	/* Float Clear fix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.centered{
	text-align:center;
}
.uppercase{
	text-transform: uppercase;
}

/* Header styles */
.main-header{
	min-height: 100vh;
	background:url('../img/home-7.jpg'), #444;
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	color:white;

}
.container{
	width: 90vw;
	margin:auto;
	padding: 2vw;
}
.container-small{
	width: 65vw;
	margin:auto;
}
@media screen and (max-width: 700px){
	body{
		max-width:100%;
	}
	.container{
		width: 100%;
	}
	.container-small{
		width:100%;
	}
	nav{
	}
}
/* styling the navigation */
.logo img{
	width:8vw;
}
nav ul{
	list-style: none;
	color: #bfbfbf;
	float:right;
}
nav ul li{
	float: left;
	display: inline-block;
	margin-right:2.5vw;
}
nav ul li a{
	text-decoration: none;
	color: #bfbfbf;
	transition: color 0.5s;
}
nav ul li a:hover{
	color:white;
}
/* Styling the header content*/
.header-body{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin:3vw 2vw;
}
.header-body h1{
	line-height: 1.5;
	font-size: 3.5vw;
}
.header-body h2{
	font-size: 1.5vw;
}
.download{
	background: #252525;
	border:none;
	color:white;
	padding:1.4vw 3vw;
	transition: background 0.5s ease-out;
}
.download:hover{
	background: rgba(255,255,255,0.4);
}
.margin-top-3em{
	margin-top:3vw;
}
.scroll-down{
	width: 100%;
	text-align: center;
	margin-top:5vw;
}
.scroll-down img{
	width:4vw;
}
/* About section */
.about{
	text-align: center;
	margin:5vw;
}
.about h1{
	text-transform: capitalize;
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
	font-size:2.5vw;
}
.about p{
	color: rgba(0,0,0,0.6);
}
